@model Login
<h2 class="text-4xl">Login</h2>
<form class="mt-3" action="/process_login" method="post">
    <div class="mb-3 flex flex-col">
        <label class="text-sm" asp-for="EmailLogin"></label>
        <input class="border rounded" asp-for="EmailLogin"/>
        <span asp-validation-for="EmailLogin"></span>
    </div>
    <div class="mb-3 flex flex-col">
        <label class="text-sm" asp-for="PasswordLogin"></label>
        <input class="border rounded" asp-for="PasswordLogin"/>
        <span asp-validation-for="PasswordLogin"></span>
    </div>
    <button class="bg-green-500 px-3 shadow rounded">Login</button>
</form>