@model User

<h2 class="text-4xl">Register</h2>
<form class="mt-3" action="/user/create" method="post">
    <div class="mb-3 flex flex-col">
        <label class="text-sm" asp-for="FirstName">First Name</label>
        <input class="border rounded" asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3 flex flex-col">
        <label class="text-sm" asp-for="LastName">Last Name</label>
        <input class="border rounded" asp-for="LastName">
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="mb-3 flex flex-col">
        <label class="text-sm" asp-for="Email"></label>
        <input class="border rounded" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3 flex flex-col">
        <label class="text-sm" asp-for="Password"></label>
        <input class="border rounded" asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3 flex flex-col">
        <label class="text-sm" asp-for="PasswordConfirm">Confirm Password</label>
        <input class="border rounded" asp-for="PasswordConfirm">
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <button class="rounded bg-green-500 px-3">Sign Up</button>
</form>