@model MyViewModel

<form asp-action="DishCreate" asp-controller="Home" method="post">
    <div class="my-2 flex gap-3 items-center">
        <label class="text-sm" asp-for="Dish.Name"></label>
        <input class="border" asp-for="Dish.Name">
        <span asp-validation-for="Dish.Name"></span>
    </div>
    <div class="my-2 flex gap-3 items-center">
        <label class="text-sm" asp-for="Dish.Calories"></label>
        <input class="border" asp-for="Dish.Calories">
        <span asp-validation-for="Dish.Calories"></span>
    </div>
    <div class="my-2 flex gap-3 items-center">
        <label class="text-sm" asp-for="Dish.Tastiness"></label>
        <select class="border" asp-for="Dish.Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Dish.Tastiness"></span>
    </div>
    <div class="my-2 flex gap-3 items-center">
        <label asp-for="Dish.ChefId">Chef</label>
        <select class="border" asp-for="Dish.ChefId">
        @foreach (Chef chef in Model.AllChefs)
        {
            <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
        }
        </select>
    </div>
    <button class="border rounded px-3 shadow-sm">Add Dish</button>
</form>

