@{
    ViewData["Title"] = "Create Chef";
}

<div class="text-center">
    <h1 class="text-4xl underline">Add a chef</h1>
</div>  
<div class="flex justify-center">
    @await Html.PartialAsync("_chefForm")
</div>
