@{
    ViewData["Title"] = "Create Dish";
}



<div class="text-center">
    <h1 class="text-4xl underline">Add a dish</h1>
</div>  
<div class="flex justify-center">
    @await Html.PartialAsync("_dishForm")
</div>
