<nav class="flex justify-between items-center border-b-2 border-black py-3 mb-3">
    <div class="flex gap-3 items-center">
        <h2 class="text-xl">Artstagram</h2>
        <ul class="flex gap-3">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/post/new">Add a Post</a></li>
        </ul>
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>
</nav>