@model User

<div class="flex justify-between border-b-2 border-black py-2 mb-2"> 
    <h2>Welcome @Model.FirstName</h2>
    <ul class="flex gap-3">
        <li><a href="/">Home</a></li>
        <li><a href="/wedding/new">Plan a Wedding</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>