@model MyViewModel


<div>
    <h2 class="text-center text-4xl">Categories</h2>
</div>
<div class="grid grid-cols-2">
    <div>
        <h2 class="text-xl text-center">New Category</h2>
        @await Html.PartialAsync("_categoryForm", @Model.Category)
    </div>
    <div class="text-center">
        <h2 class="text-xl text-center">All Categories</h2>
        @foreach (Category cat in Model.AllCategories)
        {
            <a class="text-blue-400 underline" href="/category/@cat.CategoryId">@cat.Name</a>
        }
    </div>
</div>