@{
    ViewData["Title"] = "Home Page";
}

@model MyViewModel

<div class="grid grid-cols-2">
    <div class="flex flex-col items-center">
        <h2 class="text-4xl">New Product</h2>
        @await Html.PartialAsync("_productForm", Model.Product)
    </div>
    <div class="flex flex-col items-center">
        <h2 class="text-4xl">All Products</h2>
        @foreach (Product p in Model.AllProducts)
        {
            <a class="text-blue-400 underline" href="/product/@p.ProductId">@p.Name</a>
        }
    </div>
</div>
