<header>
    <nav class="flex justify-center text-xl py-3 ">
        <ul class="flex gap-3">
            <li><a class="text-blue-400 underline" href="/chefs">Chefs</a></li>
            <li>|</li>
            <li><a class="text-blue-400 underline" href="/dishes">Dishes</a></li>
            <li>|</li>
            <li><a class="text-blue-400 underline" href="/chef/new">Add A Chef</a></li>
            <li>|</li>
            <li><a class="text-blue-400 underline" href="/dish/new">Add A Dish</a></li>
        </ul>
    </nav>
</header>