@model Form

<h1>Results</h1>
<p><strong>Name: </strong> @Model.Name</p>
<p><strong>Loc: </strong> @Model.Loc</p>
<p><strong>Lang: </strong> @Model.Lang</p>
<p><strong>Comment: </strong> @Model.Comment</p>
<a href="/" class="btn btn-secondary">Take it again</a>