@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/datechecker" method="post">
        <input type="Date" name="CheckDate" id="CheckDate">
        <button>Check</button>
    </form>
</div>
