@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/form/process" method="post">
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name" id="Name">
        </div>
        <div class="mb-3">
            <label asp-for="Loc">Loc</label>
            <select class="form-select" asp-for="Loc">
                <option value="Seattle">Seattle</option>
                <option value="LA">LA</option>
                <option value="San Jose">San Jose</option>
                <option value="Wenatchee">Wenatchee</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Lang">Lang</label>
            <select class="form-select" asp-for="Lang">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="CSharp">CSharp</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Comment">Comment</label>
            <input class="form-control" asp-for="Comment" id="Comment">
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
