<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Here are some delicious foods!</h1>
    @{
        foreach (var item in ViewBag.Foods)
        {
            @if (item[0] == 'C')
            {
                <p style="color: red;">@item</p>
            }
            else
            {
                <p>@item</p>
            }
        }
    }
</body>

</html>