@{
    ViewData["Title"] = "Number Page";
}
@model List<int>

<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>Here Are some Numbers</h1>
    <div>
        @{
            foreach (var num in Model)
            {
                <p>@num</p>
            }
        }
    </div>
</div>
